:root{
    --fifty-perc: 50%;
    --fonts: "Century Gothic",Century,sans-serif;
    --dark-color: #3f3c55;
}

body{
    margin: 0;
    height: 100vh;
}
canvas{
    display: block;
}

h1{
    position: absolute;
    left:var(--fifty-perc);
    top:var(--fifty-perc);
    margin-left:calc(var(--fifty-perc) / -2);
    padding: 15px;
    text-align: center;
    border: 2px solid var(--dark-color);
    color: var(--dark-color);
    font-family: var(--fonts);
    font-size: 18px;
    text-transform: uppercase;
    width:var(--fifty-perc);

}
